<header class="row text-center header">
  {{ with .Site.Params.authorimage }} <img src="/img/{{ . }}" alt="Author Image" class="img-circle text-center headshot animated bounceIn"> {{ end }}
  <h1 class="author">{{ .Site.Params.author }}</h1>
</header>
