<section id="list-pane" class="row list">
  <ul >
    {{ range .Data.Pages.ByPublishDate.Reverse }}
    <li class="list-entry">
      <a class="list-entry-link" href="{{ .Permalink }}">{{ .Title }}</a>
      <p class="meta">
        {{ if not .Date.IsZero }} {{ .Date.Format .Site.Params.dateformat | upper }} {{end}}
        <span class="category">
        {{ if isset .Params "categories" }}
        {{ $total := len .Params.categories }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort .Params.categories }}
        <a class="category" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>
      <div class="content text-justify">
          {{ .Summary }}
      </div>

      <a class="menu-item" href="{{ .Permalink }}">Read more</a>

    </li>
    {{ end }}
  </ul>
</section>
